* {
    box-sizing: border-box;
}

.main-container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

.hidden-on-desktop {
    display: none;
}

.alert-info > a {
    color: #000;
    text-decoration: none;
}

.nav-links {
    text-align: right;
    float: right;
}

.nav-links li {
    background-color: transparent;
    display: inline-block;
    padding: .2em;
    line-height: 4em;
}

.header-img img {
    width: 100%;
}

.sub-section {
    font-style: italic;
}

footer > p {
    float: left;
}

#social-media-links {
    float: right;
}

#social-media-links li {
    list-style: none;
    float: left;
    letter-spacing: 1em;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa:hover {
    opacity: 0.5;
}

.row {
    margin-top: 5%;
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
}

.column.half-column {
    width: 50%;
}

.column.full-column {
    width: 100%;
}

.column.column66 {
    width: 66%;
}

.column.column33 {
    width: 33%;
}

@media screen and (max-width: 500px) {
    body {
        margin: 0;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        font-family: sans-serif;
    }

    body {
        padding: 15px;
    }

    .alert-info {
        display: block;
        background-color: #add8e6;
        border: 2px solid #984747;
        padding: 1em;
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    ul{
        padding-left:0;
    }

    .nav-links {
        clear: both;
        text-align: center;
        float: none;
    }

    .nav-links li {
        padding: 0;
        margin: 10px;
        clear: both;
        background-color: grey;
        border: 2px solid #984747;
        display: block;
        line-height: 4em;
        list-style:none;
    }

    .column.mobile-full-column {
        width: 100%;
    }

    footer > p {
        float: none;
        text-align: center;
    }

    #social-media-links {
        float: none;
        text-align: center;
    }
}







/*========================original CSS content====================*/
/*html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 15px;
}

h1 {
    text-align: center;
}

.alert-info {
    background-color: #add8e6;
    border: 2px solid #d3d3d3;
    padding: 1em;
    text-align: center;
}

.alert-info > a {
    color: #000;
    text-decoration: none;
}

.nav-links {
    padding-left: 0;
}

.nav-links li {
    background-color: #d3d3d3;
    padding: 1em;
    text-align: center;
    margin-bottom: .5em;
    list-style-type: none;
}

.header-img img {
    width: 100%;
}

.sub-section {
    font-style: italic;
}

footer > p {
    float: left;
}

#social-media-links {
    float: right;
}

#social-media-links li {
    list-style: none;
    float: left;
    letter-spacing: 1em;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa:hover {
    opacity: 0.5;
}
*/

/* Applies when the screen is wider than 768px */
/* Put CSS that applies to non-mobile sized screen here */
/*@media screen and (min-width: 768px) {
    .hidden-on-desktop {
        display: none;
    }

    h1 {
        text-align: left;
        padding: .2em;
        float: left;
        margin-bottom: 1em;
    }

    .nav-links {
        text-align: right;
        float: right;
    }
    .nav-links li {
        background-color: transparent;
        display: inline-block;
        padding: .2em;
        line-height: 4em;
    }

    section {
        float: left;
    }

    .main {
        width: 66%;
    }

    .sub-section {
        width: 33%;
    }

}*/

