*{
    box-sizing: border-box;
}

header {
    color: #6158c3;
    text-decoration: underline;
}

.main_header {
    text-align: center;
}

.p_header {
    color: #5d96b7;
}

body {
    background-color: #cccccc;
    background-image: url("../images/city.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    font-family: 'Acme', sans-serif;
}

.CoreValues {
    color: red;
}

ul {
    list-style: none;
}

ul > li:before {
    content: '💡';
    padding-right: 8px;
}

a:link {
    color:red;
}
/* visited link (:visited) */
a:visited {
    color:black;
}
/* mouse hover over link (:hover) */
a:hover {
    color:pink;
}
/* active or selected link (:active) */
a:active {
    color:green;
}


